{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/login.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/chat.css') }}">
{% endblock %}

{% block extrajs %}
<script type="text/javascript" src="//code.jquery.com/jquery-1.4.2.min.js" defer></script>
<script src="https://cdn.socket.io/3.1.1/socket.io.min.js" defer></script>
<script src="{{ url_for('static', filename='main/js/chat.js') }}" defer></script>
{% endblock %}


{% block maincontent %}
<p class="login">Chat</p>

<div id='chat' contenteditable>    
</div>

<input type="text" title="Please enter you message" id="inputBox" class="password" placeholder="Enter Your Message Here">
<button type="button" title="Click to leave the chat" id="leaveChat" class="button">Leave Chat</button>

{% endblock %}