{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='main/css/main.css') }}">
{% endblock %}


{% block maincontent %}      
      <!-- A block of content -->
      <div class="row-first">
        <aside>
          <img src="{{ url_for('static', filename='main/images/Harshit_Kandpal_1.png') }}" alt="Headshot of Harshit Kandpal" loading="lazy">
        </aside>
        <div class="about">
          <article>
            <p>
              <em>Harshit Kandpal</em> is a junior studying Computer Science at Michigan State University.
              He plans to complete a concentration in Software Engineering as well as a minor in Business.
            </p>
            <p>
              He has experience working with various languages and technologies such as Python, C, C++, Java,
              JavaScript, Flask, HTML, CSS, XML, SQL, Google Cloud Platform (GCP), Linux and Git.
            </p>
          </article>
        </div>
      </div>

      <!-- Another block of content -->
      <div class="row-second">
        <h2>A fun fact about me:</h2>
        <p>
          {{ fun_fact }}
        </p>
      </div>

{% endblock %}


