<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Harshit Kandpal's personal page</title>
    <link rel="stylesheet" href="../static/main/css/header.css">
    <link rel="stylesheet" href="../static/main/css/navbar.css">
    <link rel="stylesheet" href="../static/main/css/main.css">
    <link rel="stylesheet" href="../static/main/css/footer.css">
    <script src="../static/main/js/menubar.js" defer></script>
  </head>
  <body>
    <header>
      <img src="../static/main/images/banner.jpg" alt="A canyon with wavy rocks" loading="lazy">
    </header>
    <nav>
      <h1 id="nav-header">CSE 477 - Homework 1</h1>
      <ul id="navbar-options">
        <li><a href="home.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="../static/main/images/Harshit_Kandpal_.pdf" target="_blank">Resume</a></li>
        <li><a href="https://www.linkedin.com/in/harshit-kandpal-8a1a50344" target="_blank">
              <img src="../static/main/images/social-linkedin.png" alt="Linkedin Icon" loading="lazy">
            </a>
        </li>
      </ul>
      <img id="menu-bar" src="../static/main/images/menu-bar.png" alt="Menubar Icon" loading="lazy">
      <ul id="navbar-mobile">
        <li><a href="home.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="../static/main/images/Harshit_Kandpal_.pdf" target="_blank">Resume</a></li>
        <li><a href="https://www.linkedin.com/in/harshit-kandpal-8a1a50344" target="_blank">LinkedIn</a></li>
      </ul>
    </nav>
    <main>
      <div class="row-first">
        <aside>
          <img src="../static/main/images/Harshit_Kandpal_1.png" alt="Headshot of Harshit Kandpal" loading="lazy">
        </aside>
        <div class="about">
          <article>
            <p>
              <em>Harshit Kandpal</em> is a junior studying Computer Science at Michigan State University.
              He plans to complete a concentration in Software Engineering as well as a minor in Business.
            </p>
            <p>
              He has experience working with various languages and technologies such as Python, C/C++, Java,
              JavaScript, HTML, CSS, XML, SQL, GCloud and Git.
            </p>
          </article>
        </div>
      </div>
      <div class="row-second">
        <h2>A fun fact about me:</h2>
        <p>
          I study software development and have worked in IT Support and Wireless Testing, so whether
          it's debugging code, fixing tech issues, or testing signals, I've probably done it.
        </p>
      </div>
    </main>
    <footer>
      © 2025 Harshit Kandpal
    </footer>
  </body>
</html>
