<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Harshit Kandpal's Piano</title>
    <link rel="stylesheet" href="../static/main/css/header.css">
    <link rel="stylesheet" href="../static/main/css/navbar.css">
    <link rel="stylesheet" href="../static/main/css/footer.css">
    <link rel="stylesheet" href="../static/piano/css/piano.css">
    <script src="../static/main/js/menubar.js" defer></script>
    <script src="../static/piano/js/piano.js" defer></script>
  </head>
  <body>
    <header>
      <img src="../static/main/images/banner.jpg" alt="A canyon with wavy rocks" loading="lazy">
    </header>
    <nav>
      <h1 id="nav-header">CSE 477 - Homework 1</h1>
      <ul id="navbar-options">
        <li><a href="home.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="../static/main/images/Harshit_Kandpal_.pdf" target="_blank">Resume</a></li>
        <li><a href="https://www.linkedin.com/in/harshit-kandpal-8a1a50344" target="_blank">
              <img src="../static/main/images/social-linkedin.png" alt="Linkedin Icon" loading="lazy">
            </a>
        </li>
      </ul>
      <img id="menu-bar" src="../static/main/images/menu-bar.png" alt="Menubar Icon" loading="lazy">
      <ul id="navbar-mobile">
        <li><a href="home.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="../static/main/images/Harshit_Kandpal_.pdf" target="_blank">Resume</a></li>
        <li><a href="https://www.linkedin.com/in/harshit-kandpal-8a1a50344" target="_blank">LinkedIn</a></li>
      </ul>
    </nav>
    <main>
      <p>
        Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, 
        call out to it - we see you.
      </p>
      <div class="piano">
        <h2>
          The Great Old One
        </h2>
        <div class="keys">
          <div class="white">
            <div id="A"><span class="key">A</span></div>
            <div id="S"><span class="key">S</span></div>
            <div id="D"><span class="key">D</span></div>
            <div id="F"><span class="key">F</span></div>
            <div id="G"><span class="key">G</span></div>
            <div id="H"><span class="key">H</span></div>
            <div id="J"><span class="key">J</span></div>
            <div id="K"><span class="key">K</span></div>
            <div id="L"><span class="key">L</span></div>
            <div id="Semicolon"><span class="key">;</span></div>
          </div>
          <div class="black">
            <div id="W"><span class="key">W</span></div>
            <div id="E"><span class="key">E</span></div>
            <div class="invisible"></div>
            <div id="T"><span class="key">T</span></div>
            <div id="Y"><span class="key">Y</span></div>
            <div id="U"><span class="key">U</span></div>
            <div class="invisible"></div>
            <div id="O"><span class="key">O</span></div>
            <div id="P"><span class="key">P</span></div>
          </div>
        </div>
      </div>
      <div id="image-wrapper">
        <img id="creature" src="../static/piano/images/texture.jpeg" 
          alt="A one-eyed creature with tentacles hovering over lava and rocks" loading="lazy">
        <h2 id="creature-text">
          I have awoken.
        </h2>
      </div>
    </main>
    <footer>
      © 2025 Harshit Kandpal
    </footer>
  </body>
</html>
