{% extends 'shared/layout.html' %}

{% block extracss %}
<link rel="stylesheet" href="{{ url_for('static', filename='piano/css/piano.css') }}">
{% endblock %}

{% block extrajs %}
<script src="{{ url_for('static', filename='piano/js/piano.js') }}" defer></script>
{% endblock %}

{% block maincontent %}  
      <p>
        Behold piano great and old, it's master slumbers in far off cold, If you wish to see anew, 
        call out to it - we see you.
      </p>
      <div class="piano">
        <h2>
          The Great Old One
        </h2>
        <div class="keys">
          <div class="white">
            <div id="A"><span class="key">A</span></div>
            <div id="S"><span class="key">S</span></div>
            <div id="D"><span class="key">D</span></div>
            <div id="F"><span class="key">F</span></div>
            <div id="G"><span class="key">G</span></div>
            <div id="H"><span class="key">H</span></div>
            <div id="J"><span class="key">J</span></div>
            <div id="K"><span class="key">K</span></div>
            <div id="L"><span class="key">L</span></div>
            <div id="Semicolon"><span class="key">;</span></div>
          </div>
          <div class="black">
            <div id="W"><span class="key">W</span></div>
            <div id="E"><span class="key">E</span></div>
            <div class="invisible"></div>
            <div id="T"><span class="key">T</span></div>
            <div id="Y"><span class="key">Y</span></div>
            <div id="U"><span class="key">U</span></div>
            <div class="invisible"></div>
            <div id="O"><span class="key">O</span></div>
            <div id="P"><span class="key">P</span></div>
          </div>
        </div>
      </div>
      <div id="image-wrapper">
        <img id="creature" src="{{ url_for('static', filename='piano/images/texture.jpeg') }}" 
          alt="A one-eyed creature with tentacles hovering over lava and rocks" loading="lazy">
        <h2 id="creature-text">
          I have awoken.
        </h2>
      </div>

{% endblock %}
