<!DOCTYPE html>
<html lang="en-US">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Harshit Kandpal's Projects</title>
    <link rel="stylesheet" href="../static/main/css/header.css">
    <link rel="stylesheet" href="../static/main/css/navbar.css">
    <link rel="stylesheet" href="../static/main/css/main.css">
    <link rel="stylesheet" href="../static/main/css/footer.css">
    <link rel="stylesheet" href="../static/main/css/projects-styles.css">
    <link rel="shortcut icon" href="../static/main/images/favicon.ico">
    <script src="../static/main/js/menubar.js" defer></script>
  </head>
  <body>
    <header>
      <img src="../static/main/images/banner.jpg" alt="A canyon with wavy rocks" loading="lazy">
    </header>
    <nav>
      <h1 id="nav-header">HARSHIT KANDPAL</h1>
      <ul id="navbar-options">
        <li><a href="home.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="../static/main/images/Harshit_Kandpal_.pdf" target="_blank">Resume</a></li>
        <li><a href="https://www.linkedin.com/in/harshit-kandpal-8a1a50344" target="_blank">
              <img src="../static/main/images/social-linkedin.png" alt="Linkedin Icon" loading="lazy">
            </a>
        </li>
      </ul>
      <img id="menu-bar" src="../static/main/images/menu-bar.png" alt="Menubar Icon" loading="lazy">
      <ul id="navbar-mobile">
        <li><a href="home.html">Home</a></li>
        <li><a href="projects.html">Projects</a></li>
        <li><a href="../static/main/images/Harshit_Kandpal_.pdf" target="_blank">Resume</a></li>
        <li><a href="https://www.linkedin.com/in/harshit-kandpal-8a1a50344" target="_blank">LinkedIn</a></li>
      </ul>
    </nav>
    <main>
      <div class="row-zeroth">
        <h2>Below is a list of projects I've worked on:</h2>
        <p>
          Click an image, or hyperlink in the description to learn more.
        </p>
      </div>
      <div class="row-first">
        <aside>
          <a href="piano.html">
            <img src="../static/main/images/piano.jpeg" alt="A grand piano" loading="lazy">
          </a>
        </aside>
        <div class="about">
          <article>
            <h2>
              Javascript Piano
            </h2>
            <p>
              I developed an interactive piano built purely in HTML, CSS and Javascript. 
              This tool (in addition to my webpage) highlights my ability 
              to build beautiful and mobile-friendly front-end applications. 
              <a href="piano.html">Click here to see and play!</a>
            </p>
          </article>
        </div>
      </div>
      <div class="row-first">
        <aside>
          <a href="https://github.com/HarshitK150/puzzle-app" target="_blank">
            <img src="../static/main/images/sparty.webp" alt="Sparty puzzle" loading="lazy">
          </a>
        </aside>
        <div class="about">
          <article>
            <h2>
              Puzzle App
            </h2>
            <p>
              I am currently working on an interactive puzzle game for Android that challenges 
              players with engaging puzzles. This project showcases my 
              expertise in mobile app development, emphasizing an intuitive user interface, 
              smooth animations, and optimized performance. The game is being developed using 
              Java, Android SDK, Android API, and Jetpack Components.
              <a href="https://github.com/HarshitK150/puzzle-app" target="_blank">
                Check out the source code here!
              </a>
            </p>
          </article>
        </div>
      </div>
      <div class="row-first">
        <aside>
          <a href="https://github.com/HarshitK150/spartys-boots" target="_blank">
            <img src="../static/main/images/spartys_boots_screenshot.png" alt="A screenshot of Sparty's Boots game" loading="lazy">
          </a>
        </aside>
        <div class="about">
          <article>
            <h2>
              Sparty's Boots
            </h2>
            <p>
              I developed an interactive desktop game where players control Sparty 
              and kick objects off a conveyor using logic gates. This project was completed as part of a 
              team of 5 and showcases my skills in creating a visually appealing GUI, incorporating 
              animations, and ensuring cross-platform compatibility. The technologies utilized in this 
              project are C++, wxWidgets, XML, and CMake.
              <a href="https://github.com/HarshitK150/spartys-boots" target="_blank">
                Click here for the source code!
              </a>
            </p>
          </article>
        </div>
      </div>
      <div class="row-second">
        <p>
          <em>More coming soon!</em>
        </p>
      </div>
    </main>
    <footer>
      © 2025 Harshit Kandpal
    </footer>
  </body>
</html>
